<!DOCTYPE html>
<html>
<head>
    <title>Online Store - <%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/products.html">Products</a>
        <a href="/about.html">About</a>
    </nav>
    <h1>About Us</h1>
    <p><%= content %></p>
    <script src="/js/main.js"></script>
</body>
</html>