<!DOCTYPE html>
<html>
<head>
    <title>Online Store - <%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/about">About</a>
    </nav>
    <h1>Our Products</h1>
    <div id="products-container"></div>
    <div id="cart-message" style="display: none; color: green; margin-top: 20px;"></div>
    <script src="/js/main.js"></script>
</body>
</html> 