<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Micro-Frontend Root Config</title>
  </head>
  <body>
    <!-- Your micro-frontend apps will be injected here -->
    <div id="root"></div>
    <script type="module" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
  </body>
</html>
